<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <%- include('partials/head/seo') %>
    <%- include('partials/head/styles') %>

</head>
<body>

    <%- content %>

    <%- include('partials/scripts/scripts') %>

</body>
</html>